<div id="maximage">
	
	<% @output.each { |element| %>
			<div>
			<%= image_tag element %> 
			<div class="botright"><p><%= element.gsub(/\.[a-z]*/, ' ').gsub('_', ' ').capitalize %></p></div>
			</div>
	<% } %>
	
	
</div>



<script type="text/javascript" charset="utf-8">
	$(function(){
		// Trigger maximage
		jQuery('#maximage').maximage();
	});
</script>